body {
    font-family: 'Courier New', Courier, monospace;
  }
  

ul {
    list-style-type: none;
    margin: 10;
    padding: 40;
    background-color: rgb(226, 115, 230);
  }
  
  li {
    
    display: inline-block;
    font-size: 0;
    width: 110px;
  }
  
  li a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: chartreuse;
    text-decoration: none;
    font-size: 24px;
  }

 