
/*BODY*/

* {
  margin: 0px;
  padding: 6px; 
  box-sizing: border-box; 
  align-items: center;
}

body {
  font-family: 'Courier New', Courier, monospace;
  flex-direction: column; 
  align-items: center; 
  min-height: 100vh; 
}

/*HEADER*/

header {
  display: flex;
  justify-content: center;
  
}


/*NAVIGATION BAR*/
.NavBar

ul {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  background-color: rgb(226, 115, 230);
  border-radius: 25px;
  text-align: center; 
}

li {
  display: inline-block;
  font-size: 0;
  width: 110;
}

li a {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  color: chartreuse;
  text-decoration: none;
  font-size: 24px;
}

li a.active {
  background-color: rgba(0, 0, 0, 0.1);
}

li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

  

.form{
    display:block;
    padding:30px;
    align-items: center;


}


/*FOOTER*/


footer ul{
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  background-color: rgb(226, 115, 230);
  border-radius: 25px;
  text-align: center; 
}

footer li {
display: inline-block;
font-size: 0;
width: 110; }

footer li a {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  color: chartreuse;
  text-decoration: none;
  font-size: 24px;
}

footer li a.active {
  background-color: rgba(0, 0, 0, 0.1);
}

footer li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}


/* MEDIA QUERIE */
@media only screen and (max-width: 768px){
  
  header{
    justify-content: center;
  }

  ul{
    display: flex; 
    flex-direction: column; /
    width: 100%;
    font-size: 25px;
  }


.fieldset{
width: 100%;
height:100%;
  
}

    footer ul{
      display: flex; 
      flex-direction: column; /
      width: 100%;
      font-size: 25px;
      
    }

  footer{
    width:100%
    }
}

